<ion-content>
  <ion-grid>
    <ion-row>
      <app-header [configHeaders]="configHeader" (actionEmitter)="handleAction($event)">
      </app-header>
    </ion-row>
    <ion-row>
      <ion-col>
        <app-back-button [pageTitle]="proj_title"></app-back-button>
      </ion-col>
    </ion-row>
    <form [formGroup]="formData" (ngSubmit)="onSubmit()" class="glass-effect">
      <ion-item lines="none" class="ion-item">
        <fieldset  class="input-item">
          <legend>{{ "PROJECT_CREATION.PRJ_TITLE" | translate }}<span class="required-marker">*</span></legend> 
          <ion-input formControlName="title" type="text" placeholder='{{ "PROJECT_CREATION.PRJ_TITLE_HINT" | translate }}'></ion-input>
        </fieldset>
      </ion-item>

      <ion-item lines="none" class="ion-item">
        <fieldset  class="input-item">
        <legend>{{ "PROJECT_CREATION.OBJECTIVE" | translate }}<span class="required-marker">*</span></legend> 
        <ion-input formControlName="description" type="text" placeholder='{{ "PROJECT_CREATION.OBJECTIVE_HINT" | translate }}'></ion-input>
  </fieldset>
    </ion-item>

  <ion-row>
    <ion-col size="12" size-lg="4" size-md="4" size-sm="12" class="center-container">
      <ion-label>{{ "PROJECT_CREATION.ROLE" | translate }} <span class="required-marker">*</span></ion-label> 
    </ion-col>
    <ion-col size="12" size-lg="8" size-md="8" size-sm="12" class="center-container">
      <ion-select
      formControlName="categories"
      interface="popover"
      [multiple]="true"
      class="placeholder-wrap"
      placeholder='{{ "PROJECT_CREATION.ROLE_HINT" | translate }}'
    >
      <ion-select-option
        *ngFor="let option of catOptions"
        [value]="option"
      >
        {{ option.label }}
      </ion-select-option>
    </ion-select>
  </ion-col>
  </ion-row>


  <ion-item lines="none" class="ion-item" *ngIf="showOthers">
    <fieldset  class="input-item">
    <legend>{{ "PROJECT_CREATION.OTHER" | translate }} </legend> 
    <ion-input formControlName="other" type="text" placeholder='{{ "PROJECT_CREATION.OTHER_HINT" | translate }}'></ion-input>
  </fieldset>
</ion-item>

<ion-row>
  <ion-col size="12" size-lg="4" size-md="12" size-sm="12">
    <ion-label>{{ "PROJECT_CREATION.START_DATE" | translate }} <span class="required-marker">*</span></ion-label>
  </ion-col>
  <ion-col size="12" size-lg="8" size-md="12" size-sm="12">
    <ion-datetime-button datetime="startDate" color="dark"></ion-datetime-button>
  <ion-modal [keepContentsMounted]="true">
    <ng-template>
      <ion-datetime id="startDate" 
      displayFormat="MMM DD, YYYY HH:mm"
      (ionChange)="startDate($event)"></ion-datetime>
    </ng-template>
  </ion-modal>
  </ion-col>
</ion-row>
  
<ion-row>
  <ion-col size="12" size-lg="4" size-md="12" size-sm="12">
  <ion-label>{{ "PROJECT_CREATION.END_DATE" | translate }}<span class="required-marker">*</span></ion-label>
</ion-col>
<ion-col size="12" size-lg="8" size-md="12" size-sm="12">
    <ion-datetime-button datetime="endDate"></ion-datetime-button>
  <ion-modal [keepContentsMounted]="true">
    <ng-template>
      <ion-datetime id="endDate" 
      color="light"
      displayFormat="MMM DD, YYYY HH:mm"
      (ionChange)="endDate($event)"></ion-datetime>
    </ng-template>
  </ion-modal>
</ion-col>
</ion-row>
  <ion-button class="rounded-custom-button" expand="block" (click)="onSubmit()"> {{ "PROJECT_CREATION.SUBMIT" | translate }} </ion-button>
    </form>
  </ion-grid>
</ion-content>
