
<ion-grid class="glass-effect">
  <form [formGroup]="projectForm" >
    <div *ngFor="let field of createProjectForm" lines="none" >
         
        <ion-item  *ngIf="field.input === 'text'" class="ion-items inputs">
          <ion-label position="stacked" >{{ field.label | translate }}<span class="required-marker">*</span></ion-label>
          <ion-input 
            formControlName="{{ field.field }}"
            type="text"
            maxlength="{{ field.max }}"
            value="field.value"
          ></ion-input>
        </ion-item>
     
      <ion-item  *ngIf="field.input === 'textarea'" class="inputs">
        <ion-label position="stacked" >{{ field.label | translate }}<span class="required-marker">*</span></ion-label>
        <ion-textarea
        formControlName="{{ field.field }}"
        rows="2"
        maxlength="{{ field.max }}"
      ></ion-textarea>
      </ion-item>

      <ion-item  *ngIf="field.input === 'select'" class="inputs">
      <ion-label position="stacked" >{{ field.label | translate }}<span class="required-marker">*</span></ion-label>
      <ion-select
        formControlName="{{ field.field }}"
        interface="popover"
        [multiple]="true"
      >
        <ion-select-option
          *ngFor="let option of field.options"
          [value]=option
        >
          {{ option.label | translate }}
        </ion-select-option>
      </ion-select>
      </ion-item>
      
      <!-- Add 'Other' input for select -->

      <ion-item *ngIf="showOthers && field.input == 'other' ">
        <ion-label position="stacked">{{ field.label | translate }}<span class="required-marker">*</span></ion-label>
        <ion-input
        formControlName="otherCategory"
        type="text"
      ></ion-input>
      </ion-item>
    
    
        
          <ion-item *ngIf="field.input === 'date'">
            <ion-row>
          <ion-col size="6" size-md="6" size-sm="12">
            <ion-label
            readonly
          >{{ field.label | translate }}<span class="required-marker">*</span></ion-label>
          </ion-col>
          <ion-col size="6" size-md="6" size-sm="12">
            <ion-datetime-button color="white" *ngIf="field.input === 'date'" datetime="{{ field.field }}" ></ion-datetime-button>
      <ion-modal [keepContentsMounted]="true">
    <ng-template>
      <ion-datetime id="{{ field.field }}" 
      displayFormat="MMM DD, YYYY"
      (ionChange)="setDate($event, field)"></ion-datetime>
    </ng-template>
  </ion-modal>
          </ion-col>
        </ion-row>
        </ion-item>  

    
  
    
</div>
<ion-row>
  <ion-col size="12" class="ion-text-right">
    <ion-button fill="outline" (click)="onReset()" class="form-btn">
      {{ "RESET_FORM" | translate }}
    </ion-button>
    <ion-button (click)="onSubmit()" class="form-btn">
      {{ "SUBMIT" | translate }}
    </ion-button>
  </ion-col>
</ion-row>

</form>
</ion-grid>
  