.empty-box {
    background: rgba(255, 255, 255, 0.2); 
    backdrop-filter: blur(10px); 
    border-radius: 10px;
    margin: 3%;
    width: 80%;
    height: 100px;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}