
<ion-grid>
  <ion-row>
    <ng-container *ngFor="let configHeader of configHeaders">
      <ion-col class="ion-hide-md-up" size="4" size-sm="2" size-md="6" size-lg="6" *ngIf="configHeader.showSideMenu">
        <app-side-menu>
        </app-side-menu>
      </ion-col>
      <ion-col offset-lg="7" offset-md="7" size="6" size-sm="4" size-md="4" size-lg="4" *ngIf="configHeader.showSearch">
        <ion-searchbar class="custom"></ion-searchbar>
      </ion-col>
      <ion-col size="1" size-sm="2" size-md="1" size-lg="1" class="ion-text-end ion-col" (click)="performAction(configHeader.action)" *ngIf="configHeader.showNotification">
        <ion-icon size="large" name="notifications"></ion-icon>
      </ion-col>
      <ion-col size="1" size-sm="2" size-md="1" size-lg="1" class="ion-text-end center-container-vertical" *ngIf="configHeader.showProfile" (click)="performAction(configHeader.action)">
        <ion-icon size="large" name="person-circle"></ion-icon>
      </ion-col>
    </ng-container>
  </ion-row>
</ion-grid>
