.custom-searchbar {
    --background: #F5F5F7; /* Gray background color */
    --color: var(--ion-color-primary); /* Primary color for text color */
  }

ion-searchbar.custom {
  --background: #F5F5F7;
  --color: var(--ion-color-primary);
  --placeholder-color:var(--ion-color-primary);
  --icon-color: dark;
  --clear-button-color: dark;
  --border-radius: 4px;
}

.logo-image{
  width: 60px;
  height: 60px;
  border-radius: 10px;
  overflow: hidden;
}

.custom-col {
  min-width: 50px; /* Adjust the value according to your needs */
}

