ion-list {
    margin-bottom: 50%;
    padding: 0; // removs white lines
  }
.log-out{
  margin-top: 20%
}

ion-icon {
  color: white;
}

ion-item {
  --background: #000000; 
  --highlight-background: transparent; 
  --inner-border-width: 0;
  --color: white;
  --box-shadow: none;
}

ion-menu {
  --background: #000000; 
  --ion-color-base: white;
}


.head-text {
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
  margin-top: 2%;
}
