
<ion-content [fullscreen]="true">
  <div>
  <div id="container">
      <ion-grid>
        <ion-row>
          <ion-col size="6">
            <ion-buttons >
              <ion-menu-button></ion-menu-button>
            </ion-buttons>
          </ion-col>
          <ion-col size="3" class="searchbar-container">
            <ion-searchbar placeholder="Search"></ion-searchbar>
          </ion-col>
          <ion-col size="1" class="searchbar-container">
            <ion-icon class="center-container" size="large"  name="notifications"></ion-icon>
          </ion-col>
          <ion-col size="2" class="searchbar-container">
            <ion-icon class="center-container " size="large" name="person-circle"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
  </div>

  <div class="top">
    <!-- <h2> Welcome {{username}}</h2> -->
    <h2> Hello abhishek !</h2>
    <h3> Welcome back</h3>
    <!-- <ion-img class="fixed-image" src="assets/icon/favicon.png" alt="My Image"  ></ion-img> -->
  </div>

  <div class = "grid-container">
    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <app-project-status-count type="Projects Completed" count="10"></app-project-status-count>
        </ion-col>
        <ion-col size="4">
   
          <app-project-status-count type="Projects In Progress" count="3"></app-project-status-count>
        </ion-col>
        <ion-col size="4">
          <app-project-status-count type="Projects Not Started" count="1"></app-project-status-count>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div>
    <h1>Projects</h1>
    <div >
      <ion-label> By Me </ion-label> &nbsp; &nbsp;
      <ion-label> Assigned </ion-label> &nbsp; &nbsp;
      <ion-label> Discovered </ion-label>
    </div>
  </div>

  <div class="top">
          <ion-item *ngFor="let project of projects">
            <app-project-details
            class="projects-details"
              [projectName]="project.name"
              [projectStatus]="project.status"
              [taskCount]="project.taskCount"
            ></app-project-details>
          </ion-item>
       
  </div>
</div>
</ion-content>
