.fixed-image {
  height: 100%;
  width: 60%;
  margin-top: -10%;
}
  
.projects-details{
  width: 100%;
  color: #F5F5F7;
}

.btn {
 width: 40%;
}

.pie-chart{
  width: 60%;
  height: 50%;
  margin-left: 20%;
}

.rounded-container {
  border-radius: 10px; 
  background-color: #F5F5F7;
  margin-left: 2%;
}

  ion-list{
    padding: 0;
    margin: 0;
}

.empty-box {
  background: rgba(255, 255, 255, 0.2); 
  backdrop-filter: blur(10px); 
  border-radius: 10px;
  margin: 3%;
  width: 80%;
  height: 100px;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.spacer {
  flex: 1;
}
