 <div style="padding: 1%;">
    <ion-grid>
      <ion-row >
        <ion-col size="12" size-sm="12" size-md="6" size-lg="6" class="rounded-container">
          <ion-row>
            <ion-col size="6">
            <h2><b>{{ "HOME.HELLO" | translate: {name: name}  }}</b></h2>
            <h3>{{ "HOME.WELCOME_LBL" | translate}}</h3>
            </ion-col>
            <ion-col size="6" class="align-col">
              <ion-img class="fixed-image" src="assets/images/img_boy.png" alt="Welcome"></ion-img>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="12" size-sm="12" size-md="5" size-lg="5" (click)="redirectToProjectCreation()" class="center-container">
          <ion-button fill="outline" color="primary" class="btn lbl">{{ "HOME.CREATE_PROJECT_BTN" | translate}}</ion-button>
        </ion-col>
      </ion-row>
    
      <ion-row>
        <ion-col size="12" size-sm="12" size-md="7" size-lg="7">
          <ion-segment value="createdByMe"> 
            <ion-segment-button value="createdByMe" (click)="selectTab($event)">
              <ion-label>{{ lblCreated | translate }}</ion-label>
            </ion-segment-button>
            <ion-segment-button value="discoveredByMe" (click)="selectTab($event)">
              <ion-label>{{ lblDiscovered | translate }}</ion-label>
            </ion-segment-button>
          </ion-segment>
          <div *ngFor="let project of projects">
              <app-project-card
                class="projects-details"
                [projectName]="project.name"
                [projectStatus]="project.status"
                [taskCount]="project.taskCount"
                [id]="project.id"
                [type]="type"
              ></app-project-card>
           
          </div>
          <ion-row>
            <ion-col size="12" class="center-container ">
            <ion-button (click)="viewAll()" *ngIf="projects">
              {{ "HOME.VIEW_LBL" | translate }}
            </ion-button>
          </ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="12" size-sm="12" size-md="5" size-lg="5" *ngIf="!showEmptyMessage">
          <div class="pie-chart" (click)="navigateToReports()">
            <app-pie-chart  [chartData]=" chartData" [title]="pieChartHeader">
            </app-pie-chart>
          </div>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="showEmptyMessage">
        <ion-col>
          <app-no-data-component [message]="emptyLbl"></app-no-data-component>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

