.status{
  box-shadow: none;
  width: 20%;
  height: 50%;
  width: 100%;
  padding: 1px;
  }
  
  .not-started {
  color: #4f4b48
  }
  
  .in-progress {
  color : #ffa500
  }

  .completed {
    color : #1f9304
  }

.custom-card {
  font-size: 14px;
  color: black;
  height: 9vh;
}

ion-card{
  padding: 2px;
  margin: 5px
}

ion-grid{
  padding: 0;
  margin: 0;
}

ion-card-content{
  padding: 0;
  margin: 0;
}

.project-name {
  white-space: normal;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Max. limit of project lines */
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

.project {
  display: flex;
  align-items: center; /* Center vertically */
}

ion-icon{
  font-size: 2rem;
}

