.in-progress {
  padding: 10px;
  color: var(--ion-color-success); 
  border-radius: 20px;
  box-shadow: none;
  }
  
  .not-started {
    padding: 10px;
    color: var(--ion-color-danger);
    border-radius: 10px;
    box-shadow: none;
    width: 20%;
    height: 50%;
  
  }

.custom-card {
  background-color: #F5F5F7;
  border-radius: 10px;
  box-shadow: none;
  font-size: 14px;
  color: black;
  padding: 0 10 0 10;
}


ion-card{
  padding: 2px;
}

ion-grid{
  padding: 0;
  margin: 0;
}

ion-card-content{
  padding: 0;
  margin: 0;
}

.project-name {
  white-space: normal;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Max. limit of project lines */
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

.project {
  display: flex;
  align-items: center; /* Center vertically */
}

ion-icon{
  font-size: 3rem;
}