<ion-card class="custom-card">
  <ion-card-content >
    <ion-grid>
      <ion-row>
        <ion-col size="6" size-sm="6" size-md="6" size-lg="6" class="project" >
        <label class="project-name ">{{ projectName }}</label>
        </ion-col>
        <ion-col size="4" size-sm="4" size-md="4" size-lg="4" class="center-container">
          <ion-label text-wrap class="status" [ngClass]="{
            'in-progress': projectStatus == 'started',
            'not-started': projectStatus == 'notStarted',
            'completed': projectStatus == 'completed'
          }">
          {{ utilKeys.STATUS_KEYS[projectStatus] | translate }}
          </ion-label>
        </ion-col>
        <ion-col size="1" size-sm="1" size-md="1" size-lg="1" class="center-container">
          <ion-label text-wrap [ngClass]="{
            'in-progress': projectStatus == 'started',
            'not-started': projectStatus == 'notStarted',
            'completed': projectStatus == 'completed'
        }">
          {{ taskCount }}
        </ion-label>
        </ion-col>
        <ion-col size="1" size-sm="1" size-md="1" size-lg="1" class="center-container">
          <div *ngIf="type == utilKeys.PROJECT_TYPE.PROJECT">
            <ion-icon color="primary" name="arrow-forward" (click)="viewProject(id)"></ion-icon>
          </div>
          <div *ngIf="type == utilKeys.PROJECT_TYPE.TASKS">
            <ion-icon color="primary" name="ellipsis-vertical" id="click-trigger" (click)="popover(true)"></ion-icon>
          </div>
          <ion-popover  [isOpen]="isOpen" (didDismiss)="popover(false)">
            <ng-template>
              <div *ngFor="let btn of popoverbtn">
                <ion-item (click)="performAction(btn.lbl)">
                  <ion-icon [name]="btn.icon" slot="end" color="light"></ion-icon>
                  <div>{{ btn.lbl | translate}}</div>
                </ion-item>
              </div>
            </ng-template>
          </ion-popover>
        </ion-col>
      </ion-row>
    </ion-grid>     
  </ion-card-content>
</ion-card>