.heading{
  font-size: 32px;
  font-weight: bold;
  padding-left: 20px;
  margin-top: 30px;
  margin-bottom: -60px;
}
.para{
  font-size: 22px;
  font-weight: 500;
  padding-left: 20px;
  margin-bottom: 20px;
  color: #A6ABB1;
}
.input-item{
  padding-left: 20px;
  width: 100%;
  border-radius: 12px;
  border: 2px solid #e2e2e2;
  height: 70px;
  ion-input{
      margin-top: -12px;
  }
}
.ion-item{
  margin-top: 20px;
}
.forget-text{
  a{
      text-decoration: none;
      color: primary;
  }
  text-align: end;
  margin-bottom: -10px;
  padding-right: 20px;
  text-align: center;
}
.login-button{
  color: primary;
  padding-left: 20px;
  padding-right: 20px;
  height: 50px;
  --border-radius: 12px;
  margin-top: 60px;
  --box-shadow: none;
}

.signup-text{
  a{
      text-decoration: none;
      color: var(--ion-color-primary);
  }
  padding-right: 20px;
  text-align: end;
}

.form {
  margin-left: 10%;
  margin-top: 15%;
  width: 80%;
}

.container{
  padding: 2%;
}