.heading{
  font-size: 32px;
  font-weight: bold;
  padding-left: 20px;
  margin-top: 30px;
  margin-bottom: -60px;
}
.para{
  font-size: 22px;
  font-weight: 500;
  padding-left: 20px;
  margin-bottom: 20px;
  color: #A6ABB1;
}
.input-item{
  padding-left: 20px;
  width: 100%;
  border-radius: 12px;
  border: 2px solid #e2e2e2;
  height: 70px;
  ion-input{
      margin-top: -12px;
  }
}
.ion-item{
  margin-top: 20px;
}
.forget-text{
  a{
      text-decoration: none;
      color: primary;
  }
  text-align: end;
  margin-bottom: -10px;
  padding-right: 20px;
  text-align: center;
}
.login-button{
  color: primary;
  padding-left: 20px;
  padding-right: 20px;
  height: 50px;
  --border-radius: 12px;
  margin-top: 60px;
  --box-shadow: none;
}

.signup-text{
  a{
      text-decoration: none;
      color: var(--ion-color-primary);
  }
  padding-right: 20px;
  text-align: end;
}
.form {
  /* Default styles for all screen sizes */
  margin-left: 15%;
  margin-top: 20%;
  width: 75%;

  /* Media queries for different screen sizes */
  @media (max-width: 767px) {
    /* Styles for small screens (e.g., smartphones) */
    margin-left: 5%;
    margin-top: 10%;
    width: 90%;
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    /* Styles for medium screens (e.g., tablets) */
    margin-left: 10%;
    margin-top: 15%;
    width: 80%;
  }

  @media (min-width: 1024px) {
    /* Styles for large screens (e.g., desktops) */
    margin-left: 15%;
    margin-top: 20%;
    width: 75%;
  }

  /* Add more media queries for larger screens if needed */
}

.container{
  padding: 2%;
}