<ion-content [fullscreen]="true">
<div class="form">
  <h1 class="heading">Forget Password?<br><br></h1>
  <p class="para">Enter email to reset</p>
  <ion-item lines="none" class="ion-item">
    <fieldset  class="input-item">
      <legend>Email Id</legend> 
      <ion-input type="email" placeholder="user id"></ion-input>
    </fieldset>
  </ion-item>
  <p class="signup-text">Remembered Password&nbsp;<a (click)="redirectToSignIn()">Sign in?</a></p>
  <ion-button class="login-button" expand="block">Reset Password</ion-button>
</div>
</ion-content>