<ion-content [fullscreen]="true">
<div class="form">
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="12" size-md="10" size-lg="8" size-xl="8">
        <h1 class="heading">{{ "FORGET_PASSWORD_PAGE.FORGET_PASSWORD" | translate }}<br><br></h1>
  <p class="para">{{ "FORGET_PASSWORD_PAGE.PAGE_HEAD" | translate }}</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" size-sm="12" size-md="10" size-lg="8" size-xl="8">
        <ion-item lines="none" class="ion-item">
          <fieldset  class="input-item">
            <legend>{{ "EMAIL" | translate }}</legend> 
            <ion-input type="email" placeholder='{{ "EMAIL_PLACEHOLDER" | translate }}'></ion-input>
          </fieldset>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" size-sm="12" size-md="10" size-lg="8" size-xl="8">
        <p class="signup-text">{{ "FORGET_PASSWORD_PAGE.REMEMBER_PASSWORD" | translate }}&nbsp;<a (click)="redirectToSignIn()">{{ "SIGN_IN" | translate }}</a></p>
        <ion-button class="login-button" expand="block">{{ "FORGET_PASSWORD_PAGE.RESET_PASSWORD" | translate }}</ion-button>
      </ion-col>
    </ion-row>
</ion-grid>  
</div>
</ion-content>