
.head-container{
    display: flex;
    color: white;
    margin-bottom: 40px;
    justify-content: center;
  }
  
  .btn-container{
    background-color: black; 
    border-radius: 20px; 
    padding: 10px;
    height: 50%;
  }
  
  ion-icon {
    color: white;
  }
  
  .icon-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .button-label {
    color: white;
    margin-top: 5px; 
    font-size: 12px;
  }