/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

// css for container of image
.logo-container {
    display: flex;
    justify-content: center;
  }
  
// css of image 
  .logo-image {
    width: 80%;
    height: 80%;
    border-radius: 10px;
    overflow: hidden;
  }

  .input-item{
    padding-left: 20px;
    width: 100%;
    border-radius: 12px;
    //border: 2px solid #e2e2e2;
    height: 70px;
    ion-input{
        margin-top: -12px;
    }
  }

  // button with round border and primary bg-color
  .rounded-custom-button{
    color: primary;
    padding-left: 20px;
    padding-right: 20px;
    height: 50px;
    --border-radius: 12px;
    margin-top: 60px;
    --box-shadow: none;
  }

  // to center the content inside a container
  .center-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
  }

  // centers the content of a container vertically 
  .center-container-vertical {
    display: flex;
    align-items: center; /* Center vertically */
  }

  // centers the content of a container horizontally 
  .center-container-horizontal {
    display: flex;
    justify-content: center; /* Center horizontally */
  }

  .glass-effect {
    background: rgba(255, 255, 255, 0.2); 
    backdrop-filter: blur(10px); 
    border-radius: 10px;
    padding: 20px;
    margin: 0px auto;
    width: 80%;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  // mandatory asterisk
  .required-marker {
    color: red;
    margin-left: 5px;
  }

  ion-alert {   
    // lable of ddown
    .alert-radio-label.sc-ion-alert-md {
      white-space: pre-line !important;
      color: var(--ion-color-primary);
      font-weight: bold;
    }
  
    
  }